$main_color: #c3a2c3;
$width_div: 100%;
$height_div: 300px;
$width_logo:150px;
$height_logo:150px;
$height_subcontainer:30%;
$font: 'OCR A Std', monospace;
$colors: #ebe0eb, #d98cb3,#99e6ff , #ffff99;
$title_font: Courier, monospace;
$subtitle_font: "Consolas", monospace;
$h2_font: Vegur, PT Sans, Verdana, sans-serif;