@import "base";
@import "variables";
@import "mixins";


.contenedor{
    font: $font;
    font-family: $fontfamily;
    width: $width_div;
    height: $height_div;
    background-color: $main_color;
    border: black 1px solid;
    @include position_center(column);
}

@for $i from 1 through 4{
 
        .#{subcontainer}#{$i}{
            @if($i != 1){
                @extend .contenedor;
                background-color: nth($subcontainercolors, $i);
                height: $height_subcontainer;
            }
            @else{
                background-color: nth($subcontainercolors, $i);
                height: height_div_positions_global;
                @include productos(nth($subcontainercolors, $i));
            }   
        } 
}


.text{
    direction:ltr;
    text-align: left;
    margin: 10px 10px 10px 10px;
    height: 150px;
    width: 80%;
}

.estrellas {
    unicode-bidi: bidi-override;
    align-content: flex-start;
  }

.calificado {
    color: orange;
    font-size: 20px;
  }
  
.sincalificar {
    color: grey;
  }

.valoraciones{
    @include valoraciones;
}

.contacto{
    width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

// Logo e iconos
.logo{
    @include logo($width_logo,$height_logo);
}

.icon{
    @include icon($width_icon,$height_icon);
}

// Button Hover
.button{
    border-radius: 4px;
    background-color: #e7e7e7;
    border: none;
    color: black;
    
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 50px;
    cursor: pointer;
}

.button span {
    @extend .button;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

// Encabezados
.titulo{
    @include encabezados(black,50px,true);
}

.subtitulo{
    @include encabezados(black,40px,false);
}

.tema{
    @include encabezados(black,30px,false);
}

.texto{
    @include encabezados(black,20px,false);
}
  

