@mixin position_center($position) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $position;
    margin: auto;
}

@mixin logo (){
    width: $width_logo;
    height: $height_logo;
    box-shadow: inset 0 0 0 1px black;
    border-radius: 8px;
}

@mixin productos($color) {
    @for $i from 1 through 4{ 
        .#{productos}#{$i}{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            float: left;

            width: $width_div_positions;
            height: $height_div_positions;      
            
            background-color: $color;
            
            text-align: center;
            box-shadow: inset 0 0 0 1px black;
            padding-top: 5px;
            padding-bottom: 10px;
        }    
    }
}

@mixin icon {
    width: $width_icon;
    height: $height_icon;
    margin: auto;
    box-shadow: inset 0 0 0 1px black;
    border-radius: 8px;
}

@mixin valoraciones {
    @for $i from 1 through 2{ 
        .#{valoraciones}#{$i}{
            text-align: left;
        }    
    }
}