.container, .subcontainer2, .subcontainer3, .subcontainer4 {
  font: Verdana;
  font-family: PT Sans;
  width: 100%;
  height: 350px;
  background-color: #c3a2c3;
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto; }

.subcontainer1 {
  background-color: #ebe0eb;
  height: height_div_positions_global; }
  .subcontainer1 .productos1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 400px;
    background-color: #ebe0eb;
    text-align: center;
    box-shadow: inset 0 0 0 1px black;
    padding-top: 5px;
    padding-bottom: 10px; }
  .subcontainer1 .productos2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 400px;
    background-color: #ebe0eb;
    text-align: center;
    box-shadow: inset 0 0 0 1px black;
    padding-top: 5px;
    padding-bottom: 10px; }
  .subcontainer1 .productos3 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 400px;
    background-color: #ebe0eb;
    text-align: center;
    box-shadow: inset 0 0 0 1px black;
    padding-top: 5px;
    padding-bottom: 10px; }
  .subcontainer1 .productos4 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    float: left;
    width: 25%;
    height: 400px;
    background-color: #ebe0eb;
    text-align: center;
    box-shadow: inset 0 0 0 1px black;
    padding-top: 5px;
    padding-bottom: 10px; }

.subcontainer2 {
  background-color: #d98cb3;
  height: 30%; }

.subcontainer3 {
  background-color: #99e6ff;
  height: 30%; }

.subcontainer4 {
  background-color: #ffff99;
  height: 30%; }

.logo {
  width: 400px;
  height: 150px;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 8px; }

.icon {
  width: 150px;
  height: 150px;
  margin: auto;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 8px; }

.text {
  direction: ltr;
  text-align: left;
  margin: 10px 10px 10px 10px;
  height: 150px;
  width: 80%; }

.title {
  text-shadow: black 6px 6px 8px; }

.estrellas {
  unicode-bidi: bidi-override;
  align-content: flex-start; }

.calificado {
  color: orange; }

.sincalificar {
  color: grey; }

.valoraciones .valoraciones1 {
  text-align: left; }

.valoraciones .valoraciones2 {
  text-align: left; }

.contacto {
  width: 600px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical; }

.button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px 10px 50px;
  cursor: pointer; }
